<div class="main"  ng-controller="PlayerpageCtrl">
  <div class="container">
    <div class="row">
      <div ng-include="'views/filter/filter.html'"></div>
      <div ng-controller="LeadersCtrl" ng-include="'views/playerPage/leaders.html'"></div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="widget stacked widget-table">
          <div class="widget-header">
            <span class="icon-list-alt"></span>
            <h3>Player Statistics</h3>
          </div> <!-- .widget-header -->
          <div class="widget-content">
            <div ng-controller="StattablesCtrl" ng-include="'views/playerPage/statTables.html'"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
