<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th class="stat-header" style="word-break: break-all;" ng-repeat="type in stats" style="width:{{100 / stats.length}}%;"><a ng-click="sortBy(type)">{{prettify(type)}}</a></th>
    </tr>
  </thead>
  <tr>
    <td class="stat-element" ng-repeat="type in stats"><b>{{numFormat(total(type))}}</b></td>
  </tr>  
  <tr>
    <td class="stat-element" ng-repeat="type in stats"><b>{{numFormat(average(type))}}</b></td>
  </tr>
  <tr ng-repeat="player in team">
    <td class="stat-element" ng-repeat="type in stats" ng-switch on="$first">
      <span ng-switch-when="true"><a ng-click="callback(player)">{{numFormat(player[type])}}</a></span>
      <span ng-switch-default>{{numFormat(player[type])}}</span>
    </td>
  </tr>
</table> 

