<div class="subnavbar">
  <div class="subnavbar-inner">
    <div class="container">
      <a href="javascript:;" ng-click="toggleNav()" class="subnav-toggle" data-toggle="collapse" data-target=".subnav-collapse">
        <span class="sr-only">Toggle navigation</span>
        <i class="icon-reorder"></i>
        
      </a>
      <div class="subnav-collapse {{navState}}">
        <ul class="mainnav">
          <li ng-class="{active: pageFocus('players')}" ng-click="changePageFocus('players')">
            <a>
              <i class="icon-user"></i>
              <span>Player</span>
            </a>              
          </li>
          <li ng-class="{active: pageFocus('team')}" ng-click="changePageFocus('team')">
            <a>
              <i class="icon-group"></i>
              <span>Team</span>
            </a>              
          </li>
          <li ng-class="{active: pageFocus('games')}" ng-click="changePageFocus('games')">
            <a>
              <i class="icon-book"></i>
              <span>Game</span>
            </a>              
          </li>
          <li ng-class="{active: pageFocus('line')}" ng-show="notMobile" ng-click="changePageFocus('line')">
            <a>
              <i class="icon-puzzle-piece"></i>
              <span>Line Builder</span>
            </a>              
          </li>
          <li ng-class="{active: pageFocus('download')}" ng-show="notMobile" ng-click="changePageFocus('download')">
            <a>
              <i class="icon-cloud-download"></i>
              <span>Download</span>
            </a>              
          </li>
          <li ng-show="pageFocus('specificPlayer')" ng-class="{active: pageFocus('specificPlayer')}">
            <a>
              <i class="icon-user"></i>
              <span>{{selectedPlayer.playerName}}</span>
            </a>              
          </li>
        </ul>
      </div> <!-- /.subnav-collapse -->
    </div> <!-- /container -->
  </div> <!-- /subnavbar-inner -->
</div> <!-- /subnavbar -->