<span ng-controller="FilterCtrl">
  <div class="col-md-2">
    <div class="btn-group filter-button">
      <button type="button" class="btn btn-default filter-button-main" ng-click="openModal()" style="white-space: normal;">
        {{filterButtonLabel}}
      </button>
      <button type="button" class="btn btn-default dropdown-toggle filter-button-dropdown">
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li><a ng-click="considerAll()">All Games</a></li>
        <li><a ng-click="considerOnly(mostRecentGame)">Last Game:  vs. {{mostRecentGame.opponentName}}</a></li>
        <li ng-show="mostRecentTournament"><a ng-click="considerOnly(mostRecentTournament)">Last Tournament: {{mostRecentTournament}}</a></li>
        <li class="divider"></li>
        <li><a ng-click="openModal()">Pick your games</a></li>
      </ul>
    </div>
  </div>
  <div ng-show="modalIsOpen">
    <div class="modal-backdrop" ng-click="closeModal()"></div>
    <div class="my-modal">
      <div class="modal-content">
        <div class="widget stacked widget-table">
          <div class="widget-header filter-modal-header">
            <span class="icon-list-alt"></span>
            <h3>Considered Games</h3>
            <span class="icon icon-remove filter-close-icon" ng-click="closeModal()" ng-class="{'icon-hovered': hovered}"></span>
          </div> <!-- .widget-header -->
          <div class="widget-content filter-modal-content">
            <div class="filter-modal-button-header">
              <button class="button btn-primary filter-modal-select-button" ng-click="considerAll()">Select All</button>
              <button class="button btn-primary filter-modal-select-button" ng-click="considerOnly(0)">Deselect All</button>
            </div>
            <tournament tournament="tournament" ng-repeat="tournament in tournaments"></tournament>
          </div>
        </div>
      </div>
    </div>
  </div>
</span>