/*  custom css for ultimate site */
.pageHeading {
	margin: 15px;
}
.teamName {
	font-size: xx-large;
	font-weight: bold;
}
.pageTitle {
	
}
.content {
	margin: 0 10px;
}
.insetlist h4 {
	margin: .5em .5em;
}
.xxxxxxxx{
	text-align:right;
}
.ourlead {
	color: green;
}
.theirlead {
	color: red;
}
.game-list {
	font-size: small;
}
.opponent {
	color: blue;
}
#points li {
    min-height: 25px;
}
.actionImage {
	height: 40px;
	width: 40px;
}
.opponentTitle {
	font-size: x-large;
}
#playerRankings {
	margin-left: 50px;
}
.statsTableDescriptionColumn {
	width: 130px;
}
.statsTableValueColumn {
	width: 60px;
	text-align: right;
}
.clear{
	clear: both;
}