<div title-bar></div>
<div nav-bar page="'games'"></div>
<div loading="loading" style="text-align:center;">
  <div class="main" style="text-align:left;">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="widget stacked widget-table">
            <div class="widget-header">
              <span class="icon-list-alt"></span>
              <h3>Games</h3>
            </div>
            <div class="widget-content">
              <ul class="nav nav-pills nav-stacked">
                <li ng-repeat="game in sortedGames | orderBy:'date':true" ng-class="{active: isSelectedGame(game)}" ng-click="select(game)">
                  <a class="select-game-button">
                    <span style="display:inline-block; width:50px;">{{game.date | date:'shortDate'}}</span>
                    v {{game.opponentName}}
                    <span style="float:right;">{{game.ours}}-{{game.theirs}}</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-9">
          <div class="widget stacked">
            <div class="widget-header">
              <span class="icon-file"></span>
              <h3 ng-show="selectedGame">
                <span id="game-title">{{selectedGame.opponentName}}</span>
                <span ng-show="selectedGame.tournamentName">@ {{selectedGame.tournamentName}}</span>
              </h3>
            </div>
            <div class="widget-content" loading="gameLoading" loading-type="'icon'">
              <div ng-show="selectedGame">
                <div  style="text-align:center; color:initial; margin-bottom:30px;">
                  <h2>{{teamName}} ({{selectedGame.ours}}) - {{selectedGame.opponentName}} ({{selectedGame.theirs}}) </h2>
                  <h5>{{teamName}} are {{selectedGame.gameSpecificStats.record}} against the {{selectedGame.opponentName}}.</h5>  
                </div>
                <div class="game-leaders">
                  <b style="font-size:1.5em;">Game Leaders:</b><br>
                  <p style="margin:0;" ng-repeat="(type, leader) in selectedGame.gameSpecificStats.leaders">
                    {{prettifyText(type)}} : {{leader.playerName}} ({{leader[type]}})
                  </p>
                </div>

                <!-- Wind --> 
                <div class="wind-indicator">
                  <div style="margin-bottom: 7px;">
                    <img src="images/wind-large.png">
                    <span style="margin-left: 10px; verticle-align:bottom;"> {{selectedGame.wind.mph}} mph</span>
                  </div>
                  <div class="playing-field">
                    <div class="playing-field-proper">
                      <div style="-webkit-transform:rotate({{selectedGame.wind.degrees}}deg)"class="arrow-container">
                        <img src="images/wind-arrow-large.png">
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Wind End -->

                <!-- Pagination -->
                <div class="game-content" ng-model="focus" >
                  <ul class="nav nav-tabs" ng-init="focus = 'stats'">
                    <li ng-class="{active: focus === 'stats'}"><a ng-click="focus = 'stats'">Stats</a></li>
                    <li ng-class="{active: focus === 'points'}"><a ng-click="focus = 'points'">Points</a></li>
                  </ul>   
                  <div class="tab-content">
                    <stat-tables ng-if="focus === 'stats'"></stat-tables>
                    <div class="panel-group accordion" ng-if="focus === 'points'">
                      <a ng-click="togglePoints(selectedGame.points, true)" style="margin-right: 15px;">Expand All</a>
                      <a ng-click="togglePoints([], true)">Collapse All</a>
                      <div class="panel panel-default" ng-repeat="point in selectedGame.points" ng-class="{open: isOpen(point)}">
                        <div class="panel-heading" style="cursor:pointer;" ng-click="togglePoints([point])">
                          <h4 class="panel-title">
                            <a class="accordion-toggle">
                              <span class="point-score">{{point.summary.score.ours}}-{{point.summary.score.theirs}}</span>&nbsp;&nbsp;
                              <span>{{point.summary.lineType}}-Line</span>&nbsp;&nbsp;
                              <span class="point-minutes">{{(point.summary.elapsedTime / 60 ).toString().slice(0,3)}} min.</span>&nbsp;&nbsp;
                              <span ng-repeat="player in point.line">
                                <span ng-click="selectPlayer(derivePlayerFromName(player))" class="fake-link">{{player}}</span>
                                <span>{{{true: '', false: ', '}[$last]}}</span>
                              </span>
                            </a>
                          </h4>
                        </div>
                        <div class="panel-body" ng-if="isOpen(point)">
                          <ul style="list-style:none;">
                            <li class="well well-small" ng-repeat="event in point.events">
                              <img ng-src="{{event | eventImageUrl}}" style="height:40px; width:40px;"></span>
                              <span>{{event | eventDescription}}</span>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <!-- Points End -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mobile-game-loading-page" ng-show="!notMobile && loadingGameRender">
      <img class="loading-icon" src="images/ajax-loader.gif">
    </div>
  </div>
</div>