<div title-bar></div>
<div nav-bar page="'line'"></div>
<div loading="loading" style="text-align:center;"></div>
<div class="main" ng-if='!loading'>
  <div class="container">
    <div class="row">
      <stat-filter></stat-filter>
      <div class="col-md-10">
        <div class="widget stacked widget-table">
          <div class="widget-header">
            <span class="icon-list-alt"></span>
            <h3>Players</h3>
          </div>
          <div class="widget-content" style="text-align:center;padding: 2px;">
            <button ng-repeat="player in players" draggable="true" class="btn btn-default player-token">{{player.name}}</button>
          </div>
        </div>
      </div>
      <div class="widget stacked widget-table">
        <div class="widget-header">
          <span class="icon-list-alt"></span>
          <h3>Lines</h3>
        </div>
        <div class="widget-content" droppable>
          <div class="line-carousel" style="min-width:{{(lines.length + 2) * 270}}px;">
            <div class="line-container" style="border:0; box-shadow:0 0; width:200px;">
              <div class="new-line-button" ng-click="makeLine()">
                <span class="new-line-button-contents">
                  <i class="icon icon-plus new-line-button-icon"></i>
                  <span class="new-line-button-text">Make a new line</span>
                </span>
              </div>
            </div>
            <div class="line-container" ng-repeat="line in [0]">
              <div class="line-header">
                <h3 unbindable>Line {{lineCount}}</h3>
                <i class="icon icon-remove line-close-button"></i>
              </div>
              <div class="line-players-list">
                <div class="line-drop-box">
                  <div class="shadowy">
                    <div class="player-in-line" >
                      <span></span>
                      &nbsp;&nbsp;
                      <span class="icon-trash line-close-button"></span>
                    </div>
                    <div ng-show="!line.players.length" style="text-align:center;">
                      <span class="drag-line-text">Drag a player onto the line!</span>
                    </div>
                  </div>
                </div>
              </div>
              <div>
                <table ng-show="line.players.length" class="table table-striped">
                  <tr>
                    <td>Points Considered</td><td>{{line.considerablePoints.length}}</td>
                  </tr>
                </table>
                <table class="table table-striped" ng-repeat="(connection, statVal) in line.stats.connections">
                  <tr>
                    <th>{{connection}}</th><th></th>
                  </tr>
                  <tr ng-repeat="(type,val) in statVal">
                    <td>{{type}}</td><td>{{val}}</td>
                  </tr>
                </table>
                <h3 ng-show="!line.players.length" style="text-align:center;"><b>No Data</b></h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


