<div title-bar></div>
<div nav-bar page="'players'"></div>
<div class="main">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="widget stacked widget-table">
          <div class="widget-header">
            <span class="icon-list-alt"></span>
            <h3>Player Statistics</h3>
          </div> <!-- .widget-header -->
          <div class="widget-content">
            <div></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
