<div title-bar></div>
<div nav-bar page="'team'"></div>
<div class="main">
  <div class="container">
    <div class="row">
      <div ng-controller="FilterCtrl" ng-include="'views/filter/filter.html'"></div>
      <div class="col-md-10">
        <div class="widget big-stats-container stacked">
          <div class="widget-content">
            <div id="big_stats" class="cf" style="padding: 5px;y">
              <div class="stat">                
                <h4>Record</h4></span>               
                <span class="value">{{teamStats.teamRecord.wins}} - {{teamStats.teamRecord.losses}}</span>
              </div> <!-- .stat -->
              <div class="stat">                
                <h4>Point Spread</h4>
                <span class="value">{{teamStats.goalSummary.ourDlineGoals + teamStats.goalSummary.ourOlineGoals}} - {{teamStats.goalSummary.theirOlineGoals + teamStats.goalSummary.theirDlineGoals}}</span>        
              </div> <!-- .stat -->
              <div class="stat">                
                <h4>Conversion Percentage</h4>
                <span class="value">{{(teamStats.conversionRate * 100 + '').slice(0,4)}}%</span>
              </div> <!-- .stat -->
              <div class="stat">                
                <h4>Breaks per Points</h4>
                <span class="value">{{(teamStats.goalSummary.ourDlineGoals / (teamStats.goalSummary.ourDlineGoals + teamStats.goalSummary.ourOlineGoals) * 100 + '').slice(0,4)}}%</span>         
              </div> <!-- .stat -->
            </div>
          </div>
        </div> <!-- /widget-content -->
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="widget stacked widget-table">
          <div class="widget-header">
            <span class="icon-list-alt"></span>
            <h3>Points by Line</h3>
          </div> <!-- .widget-header -->
          <div class="widget-content points-per-break">
              <div class="breaks-svg" pie-chart id="ourBreakPercentageId" data="ourBreakPercentageData" radius="90">
                <h4>Us</h4>
              </div>
              <div class="breaks-svg" pie-chart id="theirBreakPercentageId" data="theirBreakPercentageData" radius="90">
                <h4>Them</h4>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="widget stacked widget-table">
            <div class="widget-header">
              <span class="icon-list-alt"></span>
              <h3>Passes per Posession</h3>
            </div>
            <div class="widget-content points-per-break">
              <div class="breaks-svg" pie-chart id="passesPerScoredPossesionId" data="passesPerScoredPossessionData" radius="90">
                <h4>Goals</h4>
              </div>
              <div class="breaks-svg" pie-chart id="passesPerFailedPossesionId" data="passesPerFailedPossessionData" radius="90">
                <h4>Turns</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="widget stacked widget-table" ng-show="notMobile">
            <div class="widget-header">
              <span class="icon-list-alt"></span>
              <h3>Assists to Goals</h3>
            </div> <!-- .widget-header -->
            <div class="widget-content points-per-break">
              <div id="chart" flow-chart size="960">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>