<div class="main" ng-controller="GamespageCtrl">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="widget stacked widget-table">
          <div class="widget-header">
            <span class="icon-list-alt"></span>
            <h3>Games</h3>
          </div>
          <div class="widget-content">
            <ul class="nav nav-pills nav-stacked">
              <li ng-repeat="game in allGames" ng-click="lookAt(game)" ng-class="isSelected(game.gameId)">
                <a href="javascript:;">
                  <span style="display:inline-block; width:35px">{{game.date.slice(5)}}</span>
                  v {{game.opponentName}}
                  <span style="float:right">{{game.ours}}-{{game.theirs}}</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-9">
        <div class="widget stacked">
          <div class="widget-header">
            <span class="icon-file"></span>
            <h3 ng-show="selectedGame">
              <span>{{selectedGame.opponentName}}</span>
              <span ng-show="selectedGame.tournamentName">@ {{selectedGame.tournamentName}}</span>
            </h3>
          </div>
          <div class="widget-content">
            <div ng-show="selectedGame">
              <div style="text-align:center; color:initial; margin-bottom:30px">
                <h2>{{teamName}} ({{selectedGame.ours}}) - {{selectedGame.opponentName}} ({{selectedGame.theirs}}) </h2>
                <h5>{{teamName}} are {{record}} against the {{selectedGame.opponentName}}.</h5>  
              </div>
              <div class="game-leaders">
                <b style="font-size:1.5em">Game Leaders:</b><br>
                <p style="margin:0" ng-repeat="(type, leader) in stats.leaders">
                  {{prettifyText(type)}} : {{leader.playerName}} ({{leader[type]}})
                </p>
              </div>

              <!-- Wind --> 
              <div class="wind-indicator">
                <div style="margin-bottom: 7px">
                  <img src="images/wind-large.png">
                  <span style="margin-left: 10px; verticle-align:bottom"> {{selectedGame.wind.mph}} mph</span>
                </div>
                <div class="playing-field">
                  <div class="playing-field-proper">
                    <div style="-webkit-transform:rotate({{selectedGame.wind.degrees}}deg)" class="arrow-container">
                      <img src="images/wind-arrow-large.png">
                    </div>
                  </div>
                </div>
              </div>
              <!-- Wind End -->

              <!-- Pagination -->
              <div class="game-content">
                <ul class="nav nav-tabs">
                  <li ng-class="isContentFocus('Stats')"><a ng-click="changeContentFocus('Stats')">Stats</a></li>
                  <li ng-class="isContentFocus('Points')"><a ng-click="changeContentFocus('Points')">Points</a></li>
                </ul>   
                <div class="tab-content" ng-switch="contentFocus">
                  <!-- Stats -->
                  <div class="" ng-switch-when="Stats">
                    <div ng-controller="StattablesCtrl" ng-include="'views/playerPage/statTables.html'"></div>
                  </div>
                  <!-- Stats End -->

                  <!-- Points -->
                  <div class="panel-group accordion" ng-switch-when="Points">
                    <a ng-click="toggleAll(true)" style="margin-right: 15px">Expand All</a>
                    <a ng-click="toggleAll(false)">Collapse All</a>
                    <div class="panel panel-default" ng-repeat="point in selectedGame.points" ng-class="isOpenPoint(point.startSeconds)">
                      <div class="panel-heading" style="cursor:pointer" ng-click="selectPoint(point); toggleOpen(point.startSeconds);">
                        <h4 class="panel-title">
                          <a class="accordion-toggle">
                            <span class="point-score">{{point.summary.score.ours}}-{{point.summary.score.theirs}}</span>&nbsp;&nbsp;
                            <span>{{point.summary.lineType}}-Line</span>&nbsp;&nbsp;
                            <span class="point-minutes">{{(point.summary.elapsedTime / 60 ).toString().slice(0,3)}} min.</span>&nbsp;&nbsp;
                            <span ng-repeat="player in point.line">
                              <span ng-click="selectPlayer(derivePlayerFromName(player))" class="fake-link">{{player}}</span>
                              <span>{{{true: '', false: ', '}[$last]}}</span>
                            </span>
                          </a>
                        </h4>
                      </div>
                      <div class="panel-body" ng-show="isOpenPoint(point.startSeconds)">
                        <ul style="list-style:none">
                          <li class="well well-small" ng-repeat="event in point.events">
                            <img ng-src="images/cuties/{{getEventDescription(event).image}}" style="height:40px; width:40px">
                            <span>{{getEventDescription(event).text}}</span>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <!-- Points End -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>